@import "tailwindcss";

@theme inline {
  /* Added custom colors from guidelines */
  --color-primary: #06f9d0;
  --color-background-light: #EEF6F6; /* Clear Day */
  --color-background-dark: #0f231f; 
  --color-nordic-dark: #19322F; 
  --color-nordic-muted: #5C706D;
  --color-mosque: #006655;
  --color-hint-of-green: #D9ECC8;

  --font-sans: -apple-system, BlinkMacSystemFont, "SF Pro Display", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --font-display: -apple-system, BlinkMacSystemFont, "SF Pro Display", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  
  --shadow-soft: 0 10px 40px -10px rgba(0,0,0,0.05);
  --shadow-card: 0 4px 6px -1px rgba(0, 0, 0, 0.02), 0 2px 4px -1px rgba(0, 0, 0, 0.02);

  --radius-DEFAULT: 0.5rem;
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
  --radius-full: 9999px;
}

@layer base {
  .hide-scroll::-webkit-scrollbar {
    display: none;
  }
  .hide-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  /* Since the guidelines say we MUST use SF Pro Display */
  @font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 300 700;
    src: local('SF Pro Display'), local('SFProDisplay-Regular');
  }

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

:root {
  --background: #EEF6F6;
  --foreground: #19322F;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
